body {
    margin: 0;
    padding: 0;
}

body, html, * {
    font-family: "Roboto", sans-serif !important;
}

#map {
        height: 100vh;
        width: 100%;
}

#center-user-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;
    background: none;
    border: none;
}

.stop-icon {
  z-index: 1 !important;  /* set low stacking order */
}

.stop-popup-header{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.stop-popup-departure-row{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.stop-popup-departure-info{
  display: flex;
  flex-direction: column;
  flex: 1
}
.bus-icon-wrapper {
  position: relative;
  width: 29px;
  height: 29px;
  display: inline-block;
}

.bus-icon {
  width: 100%;
  height: 100%;
  display: block;
  filter: drop-shadow(1px 1px 2px rgba(175, 94, 1, 0.3))
}

.bus-icon-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* center text */
  font-size: 10px;                   /* adjust to fit inside */
  font-weight: bold;
  color: white;                      /* or black depending on icon */
  pointer-events: none;              /* clicks pass through to the icon */
}

.realtime-time {
    color: green;
    font-weight: bold;
}

.scheduled-time {
    font-weight: bold;
}